@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #333;
  font-size: 1rem;
  font-family: 'Noto Serif JP';
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.fixed-bg {
  height: 100px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/*-------------------------------------------
header
-------------------------------------------*/
#header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 10;
}

#header h1 img {
  width: 35%;
}

#header .site-title {
  padding: 4px 0px 4px 48px;
  line-height: 1px;
  background-color: #1a1a1a;
  width: 100%;
}

#header .site-title a {
  display: inline-block;
}

#navi {
  background-color: #b00d0d;
  font-weight: bold;
}

#navi a {
  color: #fff;
}
#navi a:hover {
  transition: all 0.5s ease;
  /* color: #fff; */
  text-shadow: 2px 2px 5px #fff;
}

#navi ul {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 52px;
  overflow-x: auto; /* 横スクロールを可能にする */
  white-space: nowrap; /* 項目が折り返されないようにする */
}

#navi li {
  display: inline-block; /* 各項目が横に並ぶようにする */
  font-size: 0.875rem;
  padding: 6px 60px 6px 0;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝
下から浮き上がる動き
＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
/* fadeUp */
.fadeUp{
animation-name:fadeUpAnime;
animation-duration:1.5s;
animation-fill-mode:forwards;
opacity:0;
}

@keyframes fadeUpAnime{
from {
opacity: 0;
transform: translateY(100px);}
to {
opacity: 1;
transform: translateY(0);
}
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.fadeUpTrigger{
  opacity: 0;
}

/*-------------------------------------------
mainvisual
-------------------------------------------*/
main {
  background-color: #3b3b3b;
}

.slide {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: #3b3b3b ;
}

.slide img {
  display    : block;
  position   : absolute;
  width      : inherit;
  height     : inherit;
  opacity    : 0;
  object-fit: cover;
  animation  : slideAnime 20s ease infinite;
}

.slide img:nth-child(2){
  object-position: bottom;
}

 /*=== スライドのアニメーションを段差で開始する ========= */
.slide img:nth-of-type(1) { animation-delay: 0s; }
.slide img:nth-of-type(2) { animation-delay: 4.0s; }
.slide img:nth-of-type(3) { animation-delay: 8.0s; }
.slide img:nth-of-type(4) { animation-delay: 12.0s; }
.slide img:nth-of-type(5) { animation-delay: 16.0s; }

@keyframes slideAnime{
  0% { opacity: 0; }
  5% { opacity: 1; }
  25% { opacity: 1; }
  30% { opacity: 0; }
  100% { opacity: 0; }
}


/* ＝＝＝＝＝＝＝＝＝＝＝
オリジナル
＝＝＝＝＝＝＝＝＝＝＝＝ */
/* 
.mainvisual {
  background-image: url(../img/mainvisual.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  background-position: center top;
  padding: 20px 40px;
  position: relative;
} */


.mainvisual h2 {
  /* text-align: left; */
  color: #ffffff;
  position: absolute;
  top: 22%;
  left:48%;
  /* right: 0; */
  /* padding: 0 100px 0 0; */
  font-size: 3rem;
  filter: drop-shadow(8px 8px 10px #000000);
  /* border: 1px solid red; */
  writing-mode: vertical-rl;
}

.section-title {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 2.0rem;
  filter: drop-shadow(1px 1px 10px #c0c0c0);
  position: absolute;
  top: 30%;
}

.fade-in {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeIn 1.6s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.aboutus-img {
  background-image: url(../img/aboutus.jpg);
  margin-top: 20px;
  position: relative;
}

/* 
.container {
  max-width: 1200px;
  padding: 0 16px;
} */

.aboutus-text {
  display: flex;
  color: #fff;
  padding: 30px 20px;
}
.garary1 {
  width: 30%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.garary900 {
  display: none;
}

.introduction {
  width: 70%;
  padding: 50px 0 0 80px;
  line-height: 28px;
}
h4 {
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.name {
  text-align: right;
  margin-top: 30px;
}

.class-img {
  background-image: url(../img/lot.jpg);
  margin: 50px 0 30px 0;
  position: relative;
}

.responsive900 {
  display: none;
}

.class {
  color: #fff;
}

.class-text {
  display: flex;
  flex-wrap: wrap;
}

.class-item {
  display: flex;
  /* justify-content: space-between; */
  width: 50%;
  margin-bottom: 28px;
  /* opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-out, transform 1.5s ease-out; */
  /* border: 1px solid pink; */
}
/* 表示されたときの状態 */
/* .class-item.visible {
  opacity: 1;
  transform: translateY(0);
} */


.class-item img{
  width: 30%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.classitem-text {
  width: 70%;
  padding: 12px 50px 0 20px; 
  /* border: 1px solid yellow; */
}

h5 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  border-bottom: solid 1px #fff;
}

.map {
  color:#fff;
}

.map-img {
  background-image: url(../img/window.jpg);
  margin: 70px 0 30px 0;
  position: relative;
}

.item-map iframe {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}

.adress{
  margin-bottom: 20px;
}

.teacher-img {
  background-image: url(../img/teacher.jpg);
  margin: 100px 0 30px 0;
  position: relative;
}

.teacher {
  color: #fff;
}

.teacher-intro p{
font-size: 0.9rem;
text-align: center;
}

.teacher-info {
  display: flex;
  padding-bottom: 60px;
  /* border: 1px solid red; */
}

.human-info {
width: 50%;
padding: 50px;
border-right: 1px solid #fff;
}

.contact-info {
  width: 50%;
  padding: 50px;
}

.img-container {
position: relative;
display: inline-block;
display: flex; 
justify-content: center; 
align-items: center; 
margin-bottom: 40px;
}

.overlay {
position: absolute;
top: 10px;
left: 28%;
width: 50%;
height: 100%;
background: rgb(255, 4, 0);
border-radius: 50%;
box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
z-index: 0;
}

.face {
  width: 50%;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  /* box-shadow: 3px 3px 10px rgba(191, 191, 191, 0.5); */
}

.teacher-name {
  margin-bottom: 12px;
  font-size: 1rem !important; 
  letter-spacing: 16px;
  font-weight: bold;
  text-shadow: 2px 2px 5px #c0c0c0;
}

.history {
  text-align: left !important;
}

.contact-info {
  text-align: center;
}

.connect {
  display: inline-block;
}

.connect-title {
  display: inline-block;
  position: relative;
  font-size: 24px; /* 必要に応じてフォントサイズを調整 */
  margin-bottom: 20px; 
  text-shadow: 1px 1px 5px #fff;
}

.connect-title::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px; /* 下線の太さ */
  background-color:rgb(255, 4, 0); 
  box-shadow: 1px 1px 5px #1a1a1a;
  position: absolute;
  bottom: -5px; /* 下線の位置 */
  left: 0;
}

.mail-contact, .call-contact, .letter {
  text-align: left; 
  margin-bottom: 30px;
  /* border: 1px solid red;  */
  width: 100%;
}

.mail-contact {
  margin-top: 20px;
}

.sub-title {
  margin-bottom: 6px;
  border-bottom: 1px dotted #c0c0c0;
}


/*-------------------------------------------
footer
-------------------------------------------*/
footer {
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
  font-size: 0.5rem;
  padding: 10px 0;
  box-shadow: -3px -3px 8px #747474;
}





/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
レスポンシブ対応   gpt
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
@media (max-width: 900px) {
  #header .site-title {
    padding: 4px 0px 4px 16px;
  }

  #navi ul {
    /* flex-direction: column; */
    align-items: flex-start;
    padding-left: 16px;
  }

  #navi li {
    padding: 6px 0;
    margin-right: 20px;
  }

  .mainvisual h2 {
    font-size: 3rem;
    /* padding: 0 20px; */
  }

  .garary1 {
    display: none;
  }
  
  .garary900 {
    display: block;
    margin-bottom: 40px;
  }
  

  .aboutus-text {
    flex-direction: column;
    padding: 20px 10px;
  }

  .garary1 {
    width: 100%;
    margin-bottom: 20px;
  }

  .introduction {
    width: 100%;
    padding: 0;
  }


  .class-item {
    width: 100%;
    flex-direction: column-reverse;
    /* border: 1px solid blueviolet; */
  }

  .class-item img {
    width: 100%;
  }
.kohitsu-900 {
  object-position: top;
}

  .classitem-text {
    width: 100%;
    padding: 10px 0;
    /* border: 1px solid yellowgreen; */
  }

  .responsive900 {
    display: block;
    width: 100%;
    height: 100px;
    object-fit: cover;
    /* border: 10px solid green;  */
  }

.class1, .class2, .class3, .class4 {
display: none;
}
/*   
.class-item img{
display: none;
} */

  .teacher-info {
    flex-direction: column;
    padding: 20px 10px;
  }

  .human-info, .contact-info {
    width: 100%;
    border: none;
    padding: 0;
  }

  .contact-info {
    padding:0px;
  }

.connect-container {
  display:flex;
  justify-content: space-between;
  /* border: 1px solid ; */
}

.mail-contact {
  margin-top: 0px;
}

.mail-contact, .call-contact, .letter {
  width: 33%;
  /* border: 1px solid red; */
}


.face {
  width: 30%;
}
.overlay {
  width: 30%;
  /* top: 10px; */
  left: 36%;
}
  

.teacher-intro {
  margin-bottom: 40px;
}


}

@media (max-width: 700px) {
  .connect-container {
flex-direction: column;
  }

.mail-contact, .call-contact, .letter {
  width: 100%;
}
}

@media (max-width: 400px) {
  body {
    font-size: 0.8rem;
  }
  
  .fixed-bg {
    height: 68px;
  }

  #header h1 img {
    width: 70%;
  }

.mainvisual h2{
top: 25%;
left: 45%;
font-size: 1.7rem;
}

  h4 {
    font-size: 1.0rem;
    margin-bottom: 16px;
    border-bottom: 3px dotted rgb(255, 4, 0);
  }

  .introduction p {
    line-height: 20px;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .img-container {
    margin-bottom: 40px;
    /* border: 1px border greenyellow; */
  }

.class-item img {
  /* border: 1px solid yellowgreen; */
  width: 100%;
  height: 120px;
  object-fit: cover;
}
.class1, .class2, .class3, .class4 {
  display: block;
  }

.responsive900 {
  display: none;
}

.class1, .class3 {
  object-position: center bottom;
}

.class2, .class4 {
  object-position: center top;
}



  .teacher-name {
    font-size: 0.8rem !important;
    letter-spacing: 8px;
  }
}